.authContainer{
    display: flex; flex-direction: column; height: 100vh;
    justify-content: center; align-items: center;
    background: #FFE812;
    .logo{
        margin-bottom: 40px;
    }
    .authBtns{
        .authBtn{cursor: pointer; width: 150px;
            border-radius: 20px; border: none; padding: 10px 0px;
            background: #fff; font-size: 12px; text-align: center;}
    }
}