.find_method{
    margin-top: 64px;
    display: flex; 
    flex-direction: row;
    align-items: center; 
    height: 80px; 
    background: #eee;
    li{
        overflow: hidden; 
        flex: 1;
        a{
            display: flex; 
            flex-direction: column;
            align-items: center; 
            color: #513736;
            transition: transform 300ms linear 0s;
            &:hover{
                transform: scale(1.05);
            }
            .icon{
                font-size: 22px; 
                margin: 5px 0;
            }
        }
    }
}