.status{
    font-size: 12px;
    position: fixed; 
    left: 0; 
    top: 0;
    width: 100%; 
    height: 24px;
    display: flex; 
    flex-direction: column; 
    background: #513736;
    color: #fff; 
    padding: 0 15px; 
    box-sizing: border-box;
    .status_bar{
        display: flex; 
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        div{
            flex: 1;
            &:nth-child(1){
                text-align: left;
            }
            &:nth-child(2){
                text-align: center;
            }
            &:nth-child(3){
                text-align: right;
                span{padding: 0 3px; position: relative; top: -4px;}
            }
            *{padding: 3px;}
        }
    }
}