.more_profile{
    display: flex; 
    align-items: center;
    height: 72px; 
    border-bottom: 1px solid #ebebeb;
    .profile_img{
        width: 50px; 
        height: 50px;
    }
    .profile_info{
        flex: auto; 
        display: flex;
        flex-direction: column;
        .profile_name{
            font-size: 16px; 
            font-weight: bold;
        }
        .profile_email{
            color: #8e9399;
        }
    }
    .cancelBtn{  
        cursor: pointer;
        padding: 4px 14px;
        margin-right: 15px; 
        color: #513736;
        border: 1px solid #ccc;
        border-radius: 25px;

    }
}