.search_box{
    padding-top: 64px;
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    height: 7.3%; 
    min-height: 53px;
    .search_inner{
        display: flex; 
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        width: 88%; 
        height: 50%;
        background-color: #f1f2f4;
        border-radius: 5px;
        i{
            font-size: 16px; 
            color: #b3bcc1;
            align-self: center; 
            margin-left: 15px;
        }
        input{
            width: 90%; 
            background: transparent;
            border: none; 
            padding: 0 15px;
            &::placeholder{
                text-align: center;
            }
        }
    }
}